h2{
color:blue;font-size:50px;
}
body{
background-color:orange;
}
h3{
color:blue;font-size:35px;
}
p{
color:red;font-size:30px;text-align:center;
}
hr{
width:2000px;height:1px;
}
span{
color:yellow;background-color:green;
}
img,div{
width:300px;height:300px;opacity:0.5;
}
img{
width:300px;height:300px;
}
a:hover{background-color:green;font-size:50px;color:red;
}




